body {
    background-image: url(bg_dark.png);
    background-size: 100%;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}

h1 {
    font-size: 80px;
    text-align: center;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    
    overflow: hidden;
    position: relative;
    height: 120px;
}

h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    background-color: rgb(34, 33, 33);
    animation: expandBar 1s forwards;
}

h1 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    /* 或任何您想要的顏色 */
    animation: fadeInText 1.5s forwards;
    animation-delay: 1s;
    /* 延遲文字出現，直到黑條展開完畢 */
}

.button_group {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.set {
    text-align: center;
    text-decoration: none;
}

.button_group>a div img {
    position: relative;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin-right: 30px;
    left: 25px;
    /* border: 1px solid white; */

}

.button_group>a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: white;
    text-decoration: none;
    top: 5px;
    /* border:1px solid black; */
}

.button_group>a div {
    color: white;
    width: 320px;
    height: 90px;
    display: flex;
    align-items: center;
    line-height: 90px;
    border: 5px outset gray;
    background-color: green;
    /* text-align: center; */
    align-self: center;
}

.button_group>a div:hover {
    background-color: darkgreen;
    border: 5px inset gray;

    color: black;
    cursor: pointer;
}

.button_group>a div:hover {
    color: yellow;
    font-size: 52px;
}

.button_group>a div:hover img {
    width: 75px;
    height: 75px;
}


/* 其他樣式保持不變 */
.button_group>a {
    /* 其他樣式保持不變 */
    opacity: 0;
    /* 初始狀態設為不可見 */
    animation: fadeInText 0.5s forwards;
}


/* 針對每個按鈕添加不同的動畫延遲 */



.button_group>a:nth-child(1) {
    animation-delay: 0.1s;
}

.button_group>a:nth-child(3) {
    animation-delay: 0.2s;
}

.button_group>a:nth-child(5) {
    animation-delay: 0.3s;
}

.button_group>a:nth-child(7) {
    animation-delay: 0.4s;
}

.button_group>a:nth-child(9) {
    animation-delay: 0.5s;
}


@keyframes expandBar {
    to {
        width: 100%;
        left: 0;
    }
}

@keyframes fadeInText {
    to {
        opacity: 1;
    }
}